/* header style */

@media screen and (max-width: 576px) {
    .our-tour-container,
    .news-letter-container {
        flex-direction: column;
    }
    
    .humbarger-icon {
        display: block;
    }
    nav {
        display: none;
    }
    .banner-content h2 {
        font-size: 45px;
    }
    .banner-content {
        padding: 24px;
    }
    .main-container {
        padding-bottom: 0px;
    }
    .banner-content p {
        width: 100%;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }
    .banner-container {
        height: 100%;
    }

    .simple-form-box input {
        margin-bottom: 16px !important;
        width: 100%;
        margin: 0px;
    }
    .simple-form-box input:last-child {
        margin-bottom: 0px !important;   
    }
    
    i.fa.fa-chevron-down {
        top: -44px;
        left: 150px;
    }
    i.fa.fa-search {
        top: 30px;
        left: -56px;
    }
    /* tour section */
    .our-tour-content,
    .tour-image {
        width: 100%;
    }
    .our-tour-content h3 {
        font-size: 20px;
    }

    /* choose destination style */
    .choose-destination-places-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .choose-destination-title h2 {
        font-size: 24px;
        font-weight: 800;
    }
    .choose-destination-title {
        width: 100%;
    }
    span.cap-img {
        left: 42%;
    }
    
    .img-1 {
        grid-column: 1 / 12;
    }
    .img-2 {
        grid-column: 1 / 12;
    }
    .img-3 {
        grid-column: 1 / 12;
    }
    .img-4 {
        grid-column: 1 / 12;
    }
    .img-5 {
        grid-column: 1 / 12;
    }
    .img-6 {
        grid-column: 1 / 12;
    }
    .img-7 {
        grid-column: 1 / 12;
    }
    .choose-destination-places-container img {
        width: 100%;
        height: 90%;
    }
    /* why choose me section */
    .why-choose-title p {
        width: 70%;
        margin: auto;
        font-size: 14px;
    }
    .why-choose-box p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px
    }
    .common-style1 {
        grid-column: 1/12;
    }
    .common-style2 {
        grid-column: 1/12;
    }
    .common-style3 {
        grid-column: 1/12;
    }
    /* New letter section */
     .form-box {
        padding: 8px;
        width: 100%;
     }
     .up-to-image-box {
        margin-top: 0px;
        width: 100%;
     }
    
     .up-to-box {
        font-size: 14px;
        bottom: 83px;
        left: 236px;
     }

     .hori-line {
        width: 100%;
     }
     .footer-container p {
        font-size: 14px;
     }
     .footer-title h2 {
        font-size: 40px;
     }

}