/* header style */

@media screen and (max-width: 576px) {
    .humbarger-icon {
        display: block;
    }
    nav {
        display: none;
    }
    .banner-content h2 {
        font-size: 45px;
    }
    .banner-content p {
        width: 100%;
    }
}